<div class="card w-50">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3 id="">{{federacion}}</h3>
            </div>
            <div class="col-md-3">
                <img src="../assets/img/logo_fmf.png" width="150" height="100" alt="">
            </div>
        </div>
        
        
    </div>
    <div class="row" style="justify-content:center">
        <img src="../assets/img/usuario.jpg" alt=""  width="350" height="300">
    </div>
    
    <div class="card-body">
        <h3 class="card-title">Nombre: {{nombre_usuario}} </h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5>Club: {{club_usuario}}</h5>
                </div>
            </div>
            <div class="col-md-3">
                <img src="https://s3.amazonaws.com/lmxwebsite/docs/archdgtl/AfldDrct/logos64x64/1/1.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label for="">ID: {{id_usuario}}</label>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-5" style="justify-content:center">
                <label for="">STAFF</label>
            </div>
        </div>
    </div>
</div>